body {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    /* font-family: "Reem Kufi", sans-serif;
    font-optical-sizing: auto; */
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
}
input {
    outline: none;
}

/* Form */
.form-left {
    position: relative;
}
.form-left .logo {
    position: absolute;
}
.form-left .img-main {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-left .img-main h1{
    font-family: "Keania One", sans-serif;
}
.form-right h1 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(to bottom, #22FF53 0%, #125511 100%);
    background-clip: text;
    color: transparent;
}
.form-right input{
    padding-left: 15px;
    height: 50px;
    width: 100%;
    border-radius: 40px;
    outline: none;
}
.form-right button {
    height: 40px;
    border-radius: 40px;
}
.form-right .form-items {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 40px;
    padding-left: 10px;
    font-size: 18px;
}

/* navigation */
.navigation .navigation-logo {
    filter: brightness(0) saturate(100%);
}
.navigation-group-logo {
    background: linear-gradient(to bottom, #22FF53 0%, #125511 100%);
    background-clip: text;
    color: transparent;
}

/* Facility */
.facility .facility-item-name {
    text-shadow:
            1px 1px 0px white,
            -1px -1px 0px white, 
            -1px 1px 0px white,
            1px -1px 0px white;
}

@media print {
    body * {
        visibility: hidden;
        /* Ẩn tất cả các phần tử */
    }

    .print,
    .print * {
        visibility: visible;
        /* Hiển thị các phần tử có class print */
    }

    .print {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .no-print {
        display: none;
    }
}

.review .content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    /* Đặt khoảng cách giữa các dòng */
    max-height: calc(1.5em * 3);
}