body {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    /* background-color: #e0e0e0; */
    /* font-family: "Reem Kufi", sans-serif;
    font-optical-sizing: auto; */
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    box-shadow: 0 0 0 1000px transparent inset;
    background-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: inherit;
}
input {
    outline: none;
}


/* navigation */
.navbar-link::after {
    content: '';
    height: 2px;
    background-color: rgb(0, 173, 0);
    display: block;
    width: 0;
}

.navbar-link::after {
    content: '';
    height: 2px;
    background-color: rgb(58, 212, 58);
    display: block;
    width: 0;
}

.navbar-link:hover::after{
    width: 100%;
    transition: ease-in .25s;
}
.navbar-link-active::after {
    width: 100%;
}

/* Home */
.home {
    background: url('./background.png') no-repeat;
    /* background: url('https://imgcdn.stablediffusionweb.com/2024/4/26/970675b4-68ef-4f6f-9906-c98d9403dab3.jpg'); */
    background-size: cover;
    background-position: top;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}
.home-container {
    background-color: rgba(0, 0, 0, 0.633);
    /* background: url('./background.png') no-repeat;
    background-size: cover;
    background-position: center; */
}
/* form */
.form {
    background: url('./background.png') no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    backdrop-filter: black;
    position: relative;
}
.form > div {
    z-index: 1;
    background: rgba(255, 255, 255, 0.696);
    backdrop-filter: blur(5px);
    color: rgb(0, 0, 0);
}
.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

/* booking */
.booking {
    text-shadow:
            1px 1px 0px white,
            -1px -1px 0px white,
            -1px 1px 0px white,
            1px -1px 0px white;
}

/* footer */
.footer .logo img {
    filter: brightness(0) invert(100%);
}

/* Tùy chỉnh scrollbar nhỏ hơn */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    /* Độ rộng của thanh scrollbar dọc */
    height: 4px;
    /* Độ rộng của thanh scrollbar ngang (nếu có) */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f2f2f2;
    /* Màu của phần track (kênh trượt) */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #777;
    /* Màu của phần thumb (phần kéo) */
    border-radius: 10px;
    /* Bo tròn góc của thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Màu của thumb khi hover */
}
